<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <title>Attraktioner</title>
</head>
<body>
<h1>Turist Attraktioner</h1>
<button>
    <a class="add" th:href="@{/attractions/add}"> Tilføj attraktion</a>
</button>
<table>
    <thead>
        <tr>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>By</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
        <td>By</td>
        <td><a class="edit-link" th:href="@{/attractions/{name}/edit(name=${attraction.name})}">Opdater</a></td>

        <td>
            <form th:action="@{/attractions/delete/{name}(name=${attraction.name})}" method="post">
                <button type="submit" class="delete-button">Slet</button>
            </form>
        </td>

        <td><a class="search-tag-holder-result" th:href="@{/attractions/{name}/tags}">Tags</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>