<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilføj Attraktion</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<h1>Tilføj Ny Attraktion</h1>


<form th:action="@{/attractions/save}" th:object="${attraction}" method="post">

<!-- Navn -->
    <label for="name">Navn:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <br><br>
<!-- Beskrivelse -->
    <label for="description">Beskrivelse:</label>
    <input type="text" id="description" name="description" th:field="*{description}" required>
    <br><br>

<!-- Byer i drop-down menu-->
    <label for="city">By:</label>
    <select id="city" name="city.id" th:field="*{city.id}">
        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
    <br><br>

<!-- Vælg mellem flere tags-->
        <label>Vælg Tags:</label>
        <th:block th:each="tag : ${tags}">
            <label>
                <input type="checkbox" th:name="tags" th:value="${tag.id}" th:checked="${attraction.tags != null and attraction.tags.contains(tag)}">
                <span th:text="${tag.name}"></span>
            </label>
        </th:block>
    <br><br>

    <button type="submit">OK</button>
</form>

<a th:href="@{/attractions}" class="delete-button">Annuller</a>
</body>
</html>