<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opdater Attraktion</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<form th:action="@{/attractions/update}" th:object="${attraction}" method="post">
    <input type="hidden" th:field="*{id}">

    <h2 th:text="'Opdater ' + ${attraction.name}"></h2>
    <br>

    <label for="name">Navn:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <br><br>

    <label for="description">Beskrivelse</label>
    <textarea name="description" id="description" cols="30" rows="5" th:field="*{description}" required></textarea>
    <br><br>

    <label for="city">By:</label>
    <select id="city" name="city.id" th:field="*{city.id}">
        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
    </select>
    <br><br>

    <label>Tags</label><br>
    <th:block th:each="tag : ${tags}">
        <label>
            <input type="checkbox" th:name="tags" th:value="${tag.getId()}">
            <span th:text="${tag.name}"></span>
        </label>
    </th:block>
    <br>

    <button type="submit">Opdater Attraktion</button>
</form>
<a th:href="@{/attractions}" class="delete-button">Annuller</a>
</body>
</html>
